*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: seagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 700px;
    min-height: 500px;
    background-color: darkgray;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}


.buttonsblock {
    display: flex;
    gap: 20px;
}

button {
    width: 80px;
    height: 50px;
    font-size: 30px;
    align-items: center;
    background-color: orange;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.7s;
}

button:hover {
    transform: scale(1.1);
}

button.no-hover:hover {
    transform: none;
    cursor: default; /* Убирает курсор pointer, если нужно */
  }

.result {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.result div {
    display: flex;
    flex-direction: column; /* Расположим элементы вертикально */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    text-align: center;
}

.result h3,
.result h4 {
    margin: 0; /* Убираем лишние отступы по умолчанию */
    line-height: 1; /* Делаем строки компактными */
}


.selected {
    background-color: #ffd700; /* Золотой цвет */
    color: #000; /* Черный текст */
    border: 2px solid #ffa500; /* Оранжевая рамка */
}




/* ////////////////////////////////////////////////////////////////// */

.submenu {
    width: 300px;
    min-height: 200px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    gap: 5px;
    border: 2px solid black;
}

.submenu h2 {
    text-align: center;
}


